INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
.deps
.libs
*.la
*.lo
mx/mx.c
mx/mx-types.defs
mx/mx.defs
*.pyc
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
mxpy*.pc
stamp-h1
