INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
.deps
.libs
*.la
*.lo
nbtk/nbtk.c
nbtk/nbtk-types.defs
nbtk/nbtk.defs
*.pyc
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
pynbtk-0.0.pc
pynbtk.pc
stamp-h1
